<hr size="1" noshade />
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" align="left">    
    <small>Database Design and Programming by <a href="https://www.prunux.ch">Roman Plessl</a></small>
</td>
<td align="right" valign="top">
    <a href="https://gedafe.github.io/"><img border="0" src="images/gedafe-button.gif"></a>
    <a href="https://www.postgresql.org/"><img border="0" src="images/postgres-button.png" width="100"></a>
</td>
</tr>
</table>
</body>
</html>